@page
@model IndexModel
@{
    ViewData["Title"] = "History";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>

<div class="container" style="padding: 0 !important;">
    <h2>Transaction History</h2>
</div>

<div style="max-height: calc(100vh - 200px); overflow-y: auto;">
    <div class="container" style="padding: 0 !important;">
        <div class="table-responsive table-responsive-sm">
            <table class="table table-striped table-sm col-md-12">
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var transaction in Model.Transactions!)
                {
                    <tr data-bs-toggle="popover" data-bs-title="Description" data-bs-content="@transaction.Description">
                        <td style="color: @(transaction.Amount < 0 ? "red" : "green")">@transaction.Amount.ToString("F2") zł</td>
                        <td>@transaction.Date</td>
                        <td>@transaction.Time.Hours:@transaction.Time.Minutes</td>
                        <td>@transaction.Category</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



