@page
@model IndexModel
@{
    ViewData["Title"] = "History";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome there!!</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<div class="container">
    <h2>Transaction History</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Time</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Transactions!)
        {
            <tr>
                <td>@transaction.Type</td>
                <td>@transaction.Amount.ToString("F2") zł</td>
                <td>@transaction.Date</td>
                <td>@transaction.Time.Hours:@transaction.Time.Minutes</td>
                <td>@transaction.Category</td>
                <td>@transaction.Description</td>
            </tr>
        }
        </tbody>
    </table>
</div>